$chatColor:rgb(255, 255, 255);
$bgc:rgb(169, 165, 165);

.container {
    overflow: hidden;
    justify-content: center;
    background-color: $bgc;
    display:flex;
    width:100vw;
    height: 100vh;
    position: relative;
.leftDiv{
    clip-path: polygon(0 0, 100% 0, 86% 100%, 0 100%);
    margin-top: 35%;
    margin-left: 20px;
    float: left;
    height: 40vh;
width: 50vw;

background-image:url('../../imgs/Conan\ -fococlipping-standard.png');
background-repeat: no-repeat;
background-size:400px;
background-position: center;
background-color: $chatColor;
}
.rightDiv{
    clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%);
    margin-top: 85%;
    margin-right: 20px;
    float: right;
    height: 40vh;
    width: 50vw;
    background-color: $chatColor;
}}



.background {
    overflow: hidden;
    background-color: black;
    padding-top: 20px;
    .content {
        position: relative;
        background-color: red;
        height: 30px;
        line-height: 30px;
        padding: 0 100px 0 105px;
        display:inline-block;
      
    }
    .content::after {
        position: absolute;
        right: -50px;
        content: "";
        border-bottom: 25px solid red;
        border-left: 25px solid red;
        border-top: 25px solid transparent;
        border-right: 25px solid transparent;
      }}
      @media all and  (min-width:500px) {
          .container{
              background-color: $bgc;
            .leftDiv {
                background-size:800px;
                max-width:350px ;
            height: 90vh;
            margin-top: 2rem;
            margin-bottom: 2rem;
            margin-left: 5rem;
            } 
            .rightDiv{
                max-width: 350px;
            height: 90vh;
            margin-top: 2rem;
            margin-right: 5rem;
            margin-bottom: 2rem;
            }
          }
      }
